
<!---Welcome Page--->
<div class="container c">
    <div class="h">
<div class="clip-text zero-dark-thirty">
    <span class="zero">Welcome</span>
    <span class="dark">To</span>
    <span class="thirty">Survey</span>
  </div>
</div>
<br>
<!-----Link to the respective survey and list-->
<div class="b">
  <button class="btn btn-dark"><a href="http://localhost:4200/create-student">Press Here to go to Survey</a></button>
  <button class="btn btn-dark"><a href="http://localhost:4200/students">View Student List</a></button>
</div>
  </div>