<!--Footer Component html-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>


<div class="w3-container w3-green" style="position:relative;     padding-bottom: 78px;
top: -10%;">

    <p>
        Department of Computer Science<br>
        Nguyen Engineering Building<br>
        4400 University Drive<br>
        Fairfax, VA 22030</p>
        <hr>
        <p> Contact<br>
            703-993-1530 (P)<br>
            703-993-1710 (F)</p>
  </div>

<div class="last w3-container" style="background:#333; height:200px;position:fixed"><div class="logo"><a href="cs.gmu.edu"><img src="gmu_white_logo.png" class="w3-border w3-padding image-logo" alt="Logo"></a></div></div>

<div class="fixed"><a href="https://www.gmu.edu/"><img src="./assets/gmu_white_logo.png" class="image-logo" alt="Logo"></a></div>